.auth-page-container {
  background: $background; /* optional */
}

.auth-card {
    width: 600px;
    padding: 40px 50px;
    background-color: $background;
    border: 1px solid $secondary;
    border-radius: 24px;
    color: $text-dark;
    margin: 0;
}

.auth-card h2 {
    color: $text-dark;
    text-align: center;
    margin-bottom: 32px;
}

.auth-form .form-control {
    border-radius: 8px;
}

.btn-primary {
    background-color: #7C3AED; /* Your primary purple */
    border: none;

}

.btn-primary:hover {
    background-color: #6b29d9;
}




