.navbar {
    background-color: $primary !important;

    .nav-link {
        color: $text-light !important;
        &:hover {
        color: $accent !important;
        }
    }

    .dropdown-menu {
        border-radius: 16px;
        padding: 0.5rem;
    }

    .dropdown-item {
        &:hover {
        background-color: rgba(124, 58, 237, 0.1);
        }
    }
}
